---
import Button from "../components/Button.astro";
import Grid from "../components/Grid.astro";
---

<Grid>
  <h1>Morbi in sem placerat</h1>
  <h2>Praesent dapibus neque id cursus</h2>
  <h3>Phasellus ultrices nulla quis nibh</h3>
  <h4>Nam nulla quam gravida non commodo a sodales sit</h4>
  <h1>Morbi in sem placerat</h1>
  <h2>Praesent dapibus neque id cursus</h2>
  <h3>Phasellus ultrices nulla quis nibh</h3>
  <h4>Nam nulla quam gravida non commodo a sodales sit</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
    aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
    ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
    nibh. Nullam mollis. Ut justo. Suspendisse potenti.
  </p>
  <p class="fs-main-sm">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque
    aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium,
    ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
    nibh. Nullam mollis. Ut justo. Suspendisse potenti.
  </p>

  <Button
    href="/demo-art-gallery/location"
    variant="primary"
    >Our location</Button
  >

  <Button
    href="/"
    variant="secondary"
    >Back to home</Button
  >
</Grid>
